@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

nav {
    font-family: "Roboto";
    color: black;
}

.Logo-Header {
    width: 100px;
    height: 50px;
}

.ss {
    height: 100vh;
}

.ssdw {
    width: 100%;
}

.sssw {
    width: 100%;
    padding-left: 55px;
}

.cbhkahc {
    color: #ffffff;
    width: 55px;
}

.ssvd {
    background-image: linear-gradient(to right, #f49541, #dd5d97);

}

.tjugs {
    color: #ad2167;
    font-family: "Bree-Serif";
    font-size: 28px;
    font-weight: 700;
}

.fiubfj {
    color: red;
    font-family: "Roboto";
    font-size: 18px;
}

.rr {
    width: 250px;
    margin: 10px;
}

.Website-Trending-Blogs-Section {
    padding-top: 15px;
}

.ss3 {
    background-color: red;
    width: 100%;
    height: 100%;
}

.immg {
    width: 100%;
}

.JJ {
    margin-top: 10px;
    color: #959ead;
    font-family: "Roboto";
}

.ff {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
    color: #183b56;
}

.Aa-p-tag {
    color: #959ead;
    font-family: "Roboto";
}

.Qqq {
    color: #ff9f00;
    font-family: "Roboto";
    font-weight: bold;
}

.heading-blog-page {
    color: #183b56;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
}

.products-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.products-card {
    height: 328px;
    padding: 20px;
    border-radius: 16px;
}

.headphones-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
}

.laptop-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
}

.products-card-title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.products-card-description {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
}

.products-card-button {
    color: #ff9f00;
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    width: 134px;
    height: 48px;
    border-width: 0;
    border-radius: 100px;
}

.products-card-modal-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
}

.products-card-modal-description {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
}

.products-card-modal-list {
    list-style-type: none;
    padding-left: 0;
}

.products-card-modal-list-item {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
}

.products-card-modal-list-item-category {
    font-weight: bold;
}

.products-section-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}

.Website-Explore-Section {
    background-color: #f5f7fa;
    height: 100%;
}

.WES-Card {
    background-color: #ffffff;
    padding: 15px;
    margin-top: 15px;
}

.WES-Card-img {
    border-radius: 30px;
    padding: 15px;
    width: 100%;
}

.services-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.services-section-description {
    color: #616c7c;
    font-family: "Roboto";
    font-size: 18px;
}

.services-card-image {
    width: 80px;
}

.services-card-title {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.services-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 14px;
}

.WES-Card-img-2 {
    border-radius: 25px;
    padding: 15px;
    width: 100%;
}

.WES-h1-Tag {
    font-family: "Roboto";
    font-size: 24px;
    color: #183b56;
    font-weight: 900;
    margin-top: 10px;
}

.WES-p-Tag {
    font-family: "Roboto";
    color: #183b56;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.aq-ifio {
    font-family: "Roboto";
    color: #ff9f00;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.Website-Contact-Us-Section {
    background-color: #f5f7fa;
}

.Sss-Cs {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    text-align: center;
}

.jnl-Cs {
    color: #183b56;
    font-family: "Roboto";
    font-weight: 900;
}

.bb-Cs {
    color: #ff9f00;
    border-color: #ff9f00;
    border-width: 3px;
    background-color: transparent;
    font-family: "Roboto";
    height: 50px;
    font-weight: bold;
}

.Fly-buy-Footer {
    background-color: #0d2436;
    height: 100%;
}

.Fly-buy-Logo-container {
    text-align: center;
    margin-bottom: 10px;
}

.Fly-buy-Logo {
    width: 200px;
}

.Fly-buy-link-container {
    display: flex;
    background-color: #152c3e;
    color: #5a7184;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.fb-h1-footer {
    color: #959EAE;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.content-1-container {
    color: #5a7184;
}

.line {
    width: 100%;
    background-color: #5a7184;
    color: #5a7184;
}

.gg-f,
.pp-i {
    color: #959EAE;
    text-align: center;
    font-family: "Roboto";
    font-weight: 400;
}

.h-tg-footer {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 600;
}